<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:amazon_settings) %>
<% end %>

<p>Not setup yet? <a href="https://payments.amazon.com/signup">Sign up for an Amazon Payments account</a>.</p>
<%= form_tag admin_amazon_path, :method => :put do %>
  <div id="preferences" data-hook>
    <fieldset class="general no-border-top">
      <div class="field">
        <%= label_tag "Amazon Client Id" %>
        <br />
        <%= text_field_tag :amazon_client_id, Spree::Config[:amazon_client_id], class: 'fullwidth' %>

        <%= label_tag "Amazon Merchant Id" %>
        <br />
        <%= text_field_tag :amazon_merchant_id, Spree::Config[:amazon_merchant_id], class: 'fullwidth' %>

        <%= label_tag "Amazon Access Key" %>
        <br />
        <%= text_field_tag :amazon_aws_access_key_id, Spree::Config[:amazon_aws_access_key_id], class: 'fullwidth' %>

        <%= label_tag "Amazon Secret Key" %>
        <br />
        <%= text_field_tag :amazon_aws_secret_access_key, Spree::Config[:amazon_aws_secret_access_key], class: 'fullwidth' %>

        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'refresh' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), edit_admin_general_settings_url, :class => 'button' %>
        </div>
      </div>
    </fieldset>
  </div>
<% end %>