<fieldset data-hook="amazon">
  <legend align="center"><%= Spree.t(:transaction, :scope => :amazon) %></legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:payer_id, :scope => :amazon) %>:</dt>
        <dd><%= payment.identifier %></dd>
      </dl>
    </div>

    <% if payment.state != 'void' %>
      <%= button_link_to Spree.t('actions.refund', :scope => :amazon), "#", :icon => 'icon-dollar' %>
    <% else %>
      <div class="alpha six columns">
        <dl>
          <dt><%= Spree.t(:state, :scope => :amazon) %>:</dt>
          <dd><%= payment.state.titleize %></dd>
        </dl>
      </div>
    <% end %>
  </div>
</fieldset>